<% if @message.blank? %>
  <h2><%= params[:questionnaire] %></h2>
  <% else %>
<%= h simple_format(@message) %>
  <% end %>

<% if params[:questionnaire]!="Closing" %>
  <%= link_to "Proceed ...", :controller => :player_answers, :action => 'new', :questionnaire=>@next_call, :sgid=>@student_group.id %>
<% else %>
  <%= link_to destroy_user_session_path, :method => 'delete' do %>
	<img class="rollover" id="logout_button" src='/images/menu/logout_off.png' style="width:90px;height:40px;" title="Log Out">
  <% end %>
<% end %>