<% if @clients.nil? %>
  <h2>No Clients Added Yet !! </h2>
<%= link_to image_tag('/images/add_user_off.png', :style=>"width:50px;height:50px;", :class=>'rollover', :title=>'New Client'), new_client_path %>
<% else %>

  <h1>Listing Clients</h1>
 	<% @clients.each do |client| %>
		<p style="text-align:left"><%= link_to "#{ client.name.titleize}",client_path(client) %></p>



	<% end %>


<% end %>





<br>
<br>




<%= link_to image_tag('/images/add_user_off.png', :style=>"width:50px;height:50px;", :class=>'rollover', :title=>'New Client'), new_client_path %>


