<%= content_for(:header_section) do %>
  <p>Bulk User Import</p>
  <% end %>
Please upload an Excel file that contains student data. The expected format is:
<br/>
<br/>
<table>
  <tr>
	<td style="border: solid">First Name</td>
	<td style="border: solid">Last Name</td>
	<td style="border: solid">Email</td>
	<td style="border: solid">Initial Password</td>
	<td style="border: solid">UserName</td>

  </tr>
  <tr>
	<td></td>
  </tr>
  <tr>
	<td colspan="5">(Please save your file as an Excel 97-2003 workbook.Please do not include a header or leave the top row blank.)</td>
  </tr>
</table>
<br/>
<br/>


<%= form_tag({:action => 'pick_data'}, :multipart => true) do %>

  Select File :
  <%= file_field 'upload', 'datafile' %>

  <%= submit_tag "Upload" %>

<% end %>
<br/>
<br/>


